<div class="movie-detail-page">
    <div class="image-container">
        <div class="img bg-avengers bg-cover bg-center bg-no-repeat" *ngIf="this.movie.movieImage == 'avengers' " id="Movieimg"></div>
        <div class="img bg-tenet bg-cover bg-center bg-no-repeat" *ngIf="this.movie.movieImage == 'tenet' " id="Movieimg"></div>
        <div class="img bg-guardians bg-cover bg-center bg-no-repeat" *ngIf="this.movie.movieImage == 'guardians' " id="Movieimg"></div>
        <div class="img bg-spiderman bg-cover bg-center bg-no-repeat" *ngIf="this.movie.movieImage == 'spiderman' " id="Movieimg"></div>
        <div class="img bg-knives_out bg-cover bg-center bg-no-repeat" *ngIf="this.movie.movieImage == 'knives_out' " id="Movieimg"></div>

    </div>

    <div class="body flex flex-col gap-5">
        <input readonly [(ngModel)]="movie.title" class="movie-detail" type="text" name="Title">
        <textarea readonly [(ngModel)]="movie.description" class="movie-detail-description shadow-sm"></textarea>
        <input readonly [(ngModel)]="movie.rating" class="movie-detail" type="text">
        <input readonly [(ngModel)]="movie.duration" class="movie-detail" type="text">
        <input readonly [(ngModel)]="movie.genre" class="movie-detail" type="text">
        <input readonly [(ngModel)]="movie.realeasedDate" class="movie-detail" type="text">
        <input readonly [(ngModel)]="movie.trailerLink" class="movie-detail" type="text">
    </div>

    <div class="button-container">
        <button class="btnAddWatchlist" *ngIf="this.inWatchList == false" (click)="addToWatchList(movie)">Add To Watchlist</button>
        <div class="InWatchlist" *ngIf="this.inWatchList == true">
            <input (mouseover)="message()" readonly class="text-white bg-transparent border rounded p-2 items-center justify-center w-full" type="text" value="In Watchlist">
        </div>
    </div>
</div>