<div class="navbar w-full h-24 border-b-2 rounded p-5 flex flex-row gap-5 items-center">
    <div class="logo-container h-16 w-16">
        <div class="logo bg-logo rounded cursor-pointer" (click)="goToHome()"></div>
    </div>
    <div class="buttonNav-containers ml-auto p-2 flex flex-row gap-5">
        <button (click)="goToWatchlist()" class="font-semibold border border-transparent w-20 h-12 rounded text-white p-1 hover:bg-white hover:text-slate-800">WatchList</button>
        <button (click)="goToHome()" class="font-semibold border border-transparent w-20 h-12 rounded text-white p-1 hover:bg-white hover:text-slate-800">Home</button>
        <button (click)="goToGITRepository()" class="font-semibold border border-transparent w-20 h-12 rounded text-white p-1 hover:bg-white hover:text-slate-800">Git</button>
    </div>
</div>
