<div class="Thumbnails-Container-component">
    <div class="Thumbnail-Container">
            <div id="avengersThumbnail" (click)="goToMoviePage('Avengers: Age of Ultron')" (mouseleave)="hideDetails()" (mouseover)="sendMovieDetails('Avengers: Age of Ultron')" class="movie-Thumbnail bg-avengers"></div>
            <div id="tenetThumbnail" (click)="goToMoviePage('Tenet')" (mouseleave)="hideDetails()" (mouseover)="sendMovieDetails('Tenet')" class="movie-Thumbnail bg-tenet"></div>
            <div id="spidermanThumbnail" (click)="goToMoviePage('Spider-Man: Into the Spider-Verse')" (mouseleave)="hideDetails()" (mouseover)="sendMovieDetails('Spider-Man: Into the Spider-Verse')" class="movie-Thumbnail bg-spiderman"></div>
            <div id="knivesThumbnail" (click)="goToMoviePage('Knives Out')" (mouseleave)="hideDetails()" (mouseover)="sendMovieDetails('Knives Out')" class="movie-Thumbnail bg-knives_out"></div>
            <div id="guardiansThumbnail" (click)="goToMoviePage('Guardians of the Galaxy')" (mouseleave)="hideDetails()" (mouseover)="sendMovieDetails('Guardians of the Galaxy')" class="movie-Thumbnail bg-guardians"></div>
    </div>
</div>
