<div class="watchlistComponet">
    <div class="watchlist">  
        <table class="table" > 
            <thead class="thead">
                <tr class="text-black">
                    WatchList
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let movie of WatchList" class="tr" >
                    <td class="td" *ngIf="movie.movieImage == 'avengers'">
                        <div id="avengersThumbnail" class="movie-Thumbnail bg-avengers"></div>
                    </td>
                    <td class="td" *ngIf="movie.movieImage == 'tenet'">
                        <div id="avengersThumbnail" class="movie-Thumbnail bg-tenet"></div>
                    </td>
                    <td class="td" *ngIf="movie.movieImage == 'guardians'">
                        <div id="avengersThumbnail" class="movie-Thumbnail bg-guardians"></div>
                    </td>
                    <td class="td" *ngIf="movie.movieImage == 'spiderman'">
                        <div id="avengersThumbnail" class="movie-Thumbnail bg-spiderman"></div>
                    </td>
                    <td class="td" *ngIf="movie.movieImage == 'knives_out'">
                        <div id="avengersThumbnail" class="movie-Thumbnail bg-knives_out"></div>
                    </td>
                    <td class="td">
                        <button href="#" (click)="deleteFromWatchlist(movie)" class="font-medium text-red-600 dark:text-red-500 hover:underline">Eliminar</button>
                    </td>
                </tr>
        </tbody>
        </table> 
    </div>
        
</div>

