<div class="movie-home-details-component p-5">
    <div class="movie-details-body flex flex-col gap-5">
        <input readonly [(ngModel)]="movie.title" class="movie-detail" type="text" name="Title">
        <input readonly [(ngModel)]="movie.genre" class="movie-detail" type="text" name="Genre">
        <input readonly [(ngModel)]="movie.rating" class="movie-detail" type="text" name="Rating">
    </div>
    <div class="container-more-details-button">
        <button class="more-details-button">Click Thumbnail for more</button>
    </div>
</div>
