html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.bg-mainBG {
    background: url('./img/BgSPAMovies.jpg') center/cover no-repeat;
    width: 100%;
    height: 100vh; 
}

@media (min-width: 768px) {
.md\:bg-cover {
    background-size: cover !important; 
}
}
